<!-- <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">{{configSettings.navbar_text}}</div>
    </div>
</div> -->
<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pt-3 text-black">
<div *ngFor="let script of getScriptsOfScriptID(slowLookingScript); let i = index" class="col-sm-12 pb-4">
    <ng-container *ngIf="getArtworkFromId(script.homepageartworkid).length > 0">
        <div *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);" style="width: 100%;">
            <ng-container *ngIf="artwork != undefined">
                    <div class="row m-0" style="width: 100%;">
                        <div class="col-sm-6 mx-auto text-center">
                            <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer; width: 100%;" (error)="handleMissingImage($event)">
                        </div>
                    </div>
<!--     
                <div class="col-sm-6" *ngIf="artwork.url"> -->
                    <!-- <div class="container"> -->
                        <!-- <img src="{{artwork.url}}" style="width: 100%; cursor: pointer;" class="img-fluid"> -->
                        <!-- <img src="{{artwork.url}}" class="img-fluid float-end" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer; width: 100%;" (error)="handleMissingImage($event)"> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="col-sm ml-3" *ngIf="artwork.url">
                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"> </div></strong>
                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                </div>
                <div class="col-sm-6" *ngIf="!artwork.url && artwork.fileLocation">
                    <img routerLink="/slowLooking/{{script._id}}" class="col-sm-12" src="{{artwork.fileLocation}}" (error)="handleMissingImage($event)">
                </div>
                <div class="col-sm ml-3" *ngIf="!artwork.url && artwork.fileLocation">
                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"> </div></strong>
                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                </div>  -->
            </ng-container>
        </div>
    </ng-container>

    <h2 class="col-sm-12 pt-5">{{script.name}}</h2>
    <div class="col-sm-12">
        <p style="white-space: pre-wrap;">{{script.description}}</p>
        <figcaption *ngIf="script.author != ''" class="blockquote-footer text-dark">{{script.author}}</figcaption>
    </div>
    <div class="col-sm-12" *ngIf="script.exhibitionids.length > 0"><strong>Exhibitions: </strong>
        <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
          {{exhibition.name}}
          <ng-container *ngIf="!last">, </ng-container>
        </ng-container>
        <br/>
      </div>
      <div class="col-sm-12" *ngIf="script.themeids.length > 0"><strong>Themes: </strong>
        <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
          {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
        </ng-container>
    </div>
   
    <div *ngIf="script.open" class="pt-3">
        <div class="col-sm text-center" *ngIf="script.open">
            <a routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'landing'}">
            <button class="btn btn-secondary mt-3" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View script <i class='fa fa-link'></i></button>
            <!-- <button class="btn btn-secondary" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View script <i class='fa fa-link'></i></button> -->
            </a>
        </div>
        <div *ngIf="script.open && !statementOnlyScript(script)" class="text-center pt-1">
            Try the script for yourself!
        </div>
    </div>
    <!-- <div *ngIf="!statementOnlyScript(script)" class="text-center mt-2 pt-5 pb-1">
        View responses to the script
    </div> -->
    <div class="accordion mt-2 pt-5" id="{{'script'+script._id}}" *ngIf="!statementOnlyScript(script)">
        <div class="accordion-item museum-colour">
            <h2 class="accordion-header" id="{{'heading_' + 'script'+script._id}}">
                <button 
                    class="accordion-button collapsed text-white museum-colour" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    [attr.data-bs-target]="'#collapse_' + 'script'+script._id"
                    aria-expanded="false" 
                    [attr.aria-controls]="'collapse_'+ 'script'+script._id">
                    <span><h4 style="line-height: 0.7em; font-size: x-large;">Responses</h4>
                        View responses to the script</span>
                </button>
            </h2>
            <div 
                style="background-color: black;"
                id="{{'collapse_' + 'script'+script._id}}" 
                class="accordion-collapse collapse" 
                [attr.aria-labelledby]="'heading_' + 'script'+script._id"
                [attr.data-bs-parent]="'#script'+script._id">
                <div class="accordion-body">
                    <div *ngFor="let activity of getApprovedActivitiesOfAScript(script._id) | slice:0:responseDisplayLimit; let i = index; let even=even; let last=last">
                        <!-- <div style="background-color: #f2f2f2;" class="rounded-3"> -->
                        <div class="card text-white museum-colour" style="border-radius: 15px;" [ngClass]="{ 'mb-3' : !last }">
                        <div class="card-body">
                            <div *ngFor="let action of activity.actions;">
                                <span *ngIf="action.questionStage">
                                    <span *ngIf="action.questionStage.stagetype">
                                        <span *ngIf="action.questionStage.stagetype != 'multiquestion'">
                                            <h4 *ngIf="action.questionStage.title && action.questionStage.title != ''">{{action.questionStage.title}}</h4>
                                            <div *ngIf="action.questionStage.includeartworks.length" class="mb-3">
                                                <div *ngFor="let artwork of action.questionStage.includeartworks">
                                                    <div *ngFor="let artwork of getArtworkFromId(artwork);">
                                                        <em>
                                                            <span style="white-space: pre-wrap; line-height: 1.2; " [innerHTML]="artwork.name"></span>
                                                            <span *ngIf="artwork.name!='' && artwork.artist!=''">, </span>
                                                            <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></span>
                                                            <span *ngIf="artwork.artist!='' && artwork.year!=''">, </span>
                                                            <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></span><br/>
                                                        </em>
                                                    </div>
                                                </div>
                                            </div>
                                            <em *ngIf="action.questionStage.help && action.questionStage.help != ''"><p style="white-space: pre-wrap;" [innerHTML]="action.questionStage.help | linkify"></p></em>
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question | linkify"></span>
                                            <p class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                        <span *ngIf="action.questionStage.stagetype == 'multiquestion' && action.answers">
                                            <span *ngFor="let answer of sortAnswers(action.answers); let first = first;">
                                                <ng-container *ngIf="first">
                                                    <h4 *ngIf="action.questionStage.title && action.questionStage.title != ''">{{action.questionStage.title}}</h4>
                                                    <div *ngIf="action.questionStage.includeartworks.length" class="mb-3">
                                                        <div *ngFor="let artwork of action.questionStage.includeartworks">
                                                            <div *ngFor="let artwork of getArtworkFromId(artwork);">
                                                                <em>
                                                                    <span style="white-space: pre-wrap; line-height: 1.2; " [innerHTML]="artwork.name"></span>
                                                                    <span *ngIf="artwork.name!='' && artwork.artist!=''">, </span>
                                                                    <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></span>
                                                                    <span *ngIf="artwork.artist!='' && artwork.year!=''">, </span>
                                                                    <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></span><br/>
                                                                </em>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <em *ngIf="action.questionStage.help && action.questionStage.help != ''"><p style="white-space: pre-wrap;" [innerHTML]="action.questionStage.help | linkify"></p></em>
                                                </ng-container>
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.questions[answer.question] | linkify"></span>
                                                <p class="font-weight-normal" style="white-space: pre-wrap;">{{answer.answer}}</p>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span *ngIf="action.storyStage">
                                    <span *ngIf="action.storyStage.stagetype">
                                        <span *ngIf="action.storyStage.stagetype == 'story'">
                                            <h4 *ngIf="action.storyStage.title && action.storyStage.title != ''">{{action.storyStage.title}}</h4>
                                            <div *ngIf="action.storyStage.includeartworks.length" class="mb-3">
                                                <div *ngFor="let artwork of action.storyStage.includeartworks">
                                                    <div *ngFor="let artwork of getArtworkFromId(artwork);">
                                                        <em>
                                                            <span style="white-space: pre-wrap; line-height: 1.2; " [innerHTML]="artwork.name"></span>
                                                            <span *ngIf="artwork.name!='' && artwork.artist!=''">, </span>
                                                            <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></span>
                                                            <span *ngIf="artwork.artist!='' && artwork.year!=''">, </span>
                                                            <span style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></span><br/>
                                                        </em>
                                                    </div>
                                                </div>
                                            </div>
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question  | linkify"></span>
                                            <p class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <hr>
                            <div style="width: 100%;">
                                <div class="row">
                                <div class="col text-left">
                                    {{activity.authorname}}
                                </div>
                                <div class="col-4 text-right" style="max-width: 5em;">
                                    <span><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">{{activity.likes}}</span> <i (click)="addLikeToActivity(activity)" style="cursor: pointer" class="fas fa-heart ms-2 cursor-pointer"></i></span>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row pr-3 pl-3 pt-3" *ngIf="getApprovedActivitiesOfAScript(script._id).length > responseDisplayLimit">
                        <button class="btn btn-dark" (click)="responseDisplayLimit = responseDisplayLimit+5">More responses</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br/>
<br/>