<paNavBar></paNavBar>
<div style="background-color: black;" class="text-white">
    <div class="col-12 pr-5 pl-5 pt-3">
            <h3 class="row text-left">{{selectedTheme.name}}</h3>
            <div class="row text-left">{{selectedTheme.description}}</div>
    </div>
    <hr>
    <ngb-carousel [showNavigationArrows]="selectedScripts.length > 1" [showNavigationIndicators]="selectedScripts.length > 1">
        <ng-template ngbSlide *ngFor="let script of selectedScripts">
            <div class="picsum-img-wrapper" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
            <div class="col-md-6 col-sm-8 col-10 text-center mx-auto" style="width: 100%;">
                <img style="width: 100%;" src="{{artwork.url}}" (error)="handleMissingImage($event)">
            </div>
            </div>
            <div class="carousel-caption">
            <div class="row align-items-end">
                <h3 class="text-left overviewshadow">{{script.name}}</h3>
                <div class="text-left overviewshadow" *ngIf="script.description != ''">
                {{script.description}}
                </div>
                <figcaption class="text-left blockquote-footer text-white overviewshadow">{{script.author}}</figcaption>
                <div class="text-left overviewshadow" *ngIf="script.exhibitionids.length > 0"><strong>Exhibitions: </strong>
                <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
                    {{exhibition.name}}
                    <ng-container *ngIf="!last">, </ng-container>
                </ng-container>
                <br/>
                </div>
                <div class="text-left overviewshadow" *ngIf="script.themeids.length > 0"><strong>Themes: </strong>
                <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                    {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                </ng-container>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm" *ngIf="script.open && script.visible && !statementOnlyScript(script)">
                <a routerLink='/landing/{{script._id}}' [queryParams]="{return:'home', themenav:themeNav}">
                    <button class="btn btn-dark mt-3 overviewshadow" style="width: 10em; font-size: large; color: white; line-height: 1.2;">Find out more <i class='fa fa-link'></i></button>
                </a>
                </div>
                <div class="col-sm" *ngIf="script.open && script.visible && statementOnlyScript(script)">
                <a routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'home'}">
                    <button class="btn btn-dark mt-3 overviewshadow" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View activity <i class='fa fa-link'></i></button>
                </a>
                </div>
                <div class="col-sm" *ngIf="script.visible && !statementOnlyScript(script) && !script.open" >
                <a routerLink='/allResponses/{{script._id}}'>
                    <button class="btn btn-dark mt-3 overviewshadow" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View responses <i class='fa fa-link'></i></button>
                </a>
                </div>
            </div>
            <!-- <div class="row mb-3">
                <div class="col-sm" *ngIf="script.open && script.visible">
                <a routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'home'}">
                    <button class="btn btn-dark mt-3 overviewshadow" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View activity <i class='fa fa-link'></i></button>
                </a>
                </div>
                <div class="col-sm" *ngIf="script.visible && !statementOnlyScript(script)">
                <a routerLink='/allResponses/{{script._id}}'>
                    <button class="btn btn-dark mt-3 overviewshadow" style="width: 10em; font-size: large; color: white; line-height: 1.2;">View responses <i class='fa fa-link'></i></button>
                </a>
                </div>
            </div> -->
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<br/>
<br/>